@model IEnumerable<Minimarket.Models.Detalle>;
@inject IHttpContextAccessor HttpContextAccessor

@{
    var permisosStr = HttpContextAccessor.HttpContext.Session.GetString("Permisos") ?? "";
    var permisos = permisosStr.Split(",", StringSplitOptions.RemoveEmptyEntries);
    bool esAdmin = permisos.Contains("ManageUsers");
}

<div class="container mt-5">
    <div class="mb-3">
        <a asp-controller="Productos" asp-action="Index" class="btn btn-outline-light" style="background-color: rgba(0,0,0,0.4); border-radius: 30px; padding: 10px 20px;">
            ← Seguir Comprando
        </a>
    </div>

    <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    <table class="table table-hover align-middle">
                        <thead class="bg-dark text-white">
                            <tr class="text-center">
                                <th><i class="bi bi-image"></i> Imagen</th>
                                <th><i class="bi bi-box-seam"></i> Producto</th>
                                <th><i class="bi bi-cash-coin"></i> Precio</th>
                                <th><i class="bi bi-stack"></i> Cantidad</th>
                                <th><i class="bi bi-cash-coin"></i> Sub Total</th>
                                <th><i class="bi bi-gear"></i> Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model){
                                <tr class="text-center">
                                    <td>
                                        <img src="@Url.Content("~/image/" + (item.Producto?.Imagen ?? "imagen-por-defecto.jpg"))" alt="Imagen de @item.Nombre"
                                             width="50px" height="50px" />
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Producto.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Total)</td>
                                    <td>
                                            <a asp-action="DeleteCart" asp-route-id="@item.Producto?.Id" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card col-lg-3 mb-0">
                    <h2 class="card-title text-center">TOTAL</h2>
                    <h3 class="text-primary fw-semibold mb-4">
                        <i class="bi bi-cash-coin"></i>  @ViewBag.Total.ToString("N2")
                    </h3>
                    @if (esAdmin)
                    {
                        <p>Eres Admin</p>
                    }
                    else
                    {
                        <div class="card-footer ">
                            <a class="btn btn-primary mb-0" asp-action="Pago">Proceder al Pago</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<style>
 a {
        color: inherit;
        text-decoration: inherit;
    }
</style>