@model IEnumerable<Minimarket.Models.Detalle>

@{
    var i = 1;
}
<div class="container mt-2">
    <div class="mb-3">
        <a asp-controller="Home" asp-action="ListaOrden" class="btn btn-outline-light" style="background-color: rgba(0,0,0,0.4); border-radius: 30px; padding: 10px 20px;">
            ← Volver a Ordenes
        </a>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card">
                        <div class="card-header text-center bg-dark text-white p-1">
                            <h2> Resumen de Orden</h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Datos Orden</h5>
                            <h6>Nombre     :@ViewBag.Usuario.Nombre</h6>
                            <h6>Email      :@ViewBag.Usuario.Email</h6>
                            <h6>Direccion  :@ViewBag.Usuario.Direccion </h6>
                            <h5 class="card-title">Productos</h5>
                            <div class="alert alert-light" role="alert">
                                <table class="table table-hover align-middle">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col"><i class="bi bi-hash"></i> Nº</th>
                                            <th scope="col"><i class="bi bi-image"></i> Foto</th>
                                            <th scope="col"><i class="bi bi-box-seam"></i> Producto</th>
                                            <th scope="col"><i class="bi bi-currency-dollar"></i> Precio</th>
                                            <th scope="col"><i class="bi bi-123"></i> Cantidad</th>
                                            <th scope="col"><i class="bi bi-cash-coin"></i> Total ($)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td><img src="@item.Producto?.Imagen" width="50px" height="50px" /></td>
                                                <td>en proceso</td>
                                                <td>@item.Precio</td>
                                                <td>@item.Cantidad</td>
                                                <td>@item.Total</td>
                                            </tr>
                                            i++;
                                        }
                                        <tr>
                                            <!-- Celda con colspan para abarcar las columnas vacías -->
                                            <th colspan="5">Total a Pagado</th>
                                            <th>$ @ViewBag.Total</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    a {
        color: inherit;
        text-decoration: inherit;
    }
</style>

